---
import BaseLayoutPonentes from "./BaseLayoutPonentes.astro";
import DatosConstancias from "../components/datosConstancias.astro";
import HeaderGeneral from "../components/headerGeneral.astro";
import Actividades from "../components/Actividades.astro";
import Gafete from "../components/gafete.astro";
import Extras from "../components/Extras.astro";
import QRCodeGenerator from "../components/QRCodeGenerator.astro";
import PdfDescargable from "../pages/PdfDescargable.astro";
import PdfDescargableRegistradas from "../pages/PdfDescargableRegistradas.astro";

const { frontmatter } = Astro.props;
const nombreconjunto =
  frontmatter.grado + " " + frontmatter.nombre.split(" ").at(-2);

const horarios = frontmatter.registro.find(
  (item: any) => item.horarios
)?.horarios;
---

<BaseLayoutPonentes pageTitle={nombreconjunto} tipo={frontmatter.tags[0]}>
  <HeaderGeneral frontmatter={frontmatter} nombreconjunto={nombreconjunto} />

  <div class="bg-white rounded-t-4xl px-4 py-12">
    <Actividades frontmatter={frontmatter} />
    <DatosConstancias frontmatter={frontmatter} />
    <Extras frontmatter={frontmatter} />
    <QRCodeGenerator frontmatter={frontmatter} />
    <Gafete frontmatter={frontmatter} nombreconjunto={nombreconjunto} />

    <!--  -->
    <br /><br />
    <hr />
    <br /><br />
    <PdfDescargable
      frontmatter={frontmatter.tags}
      datos={frontmatter}
      ID="PrntBtnOne"
    /><br />
    {
      frontmatter.act2[0] ? (
        <>
          <PdfDescargable
            frontmatter={frontmatter.act2}
            datos={frontmatter}
            ID="PrntBtnTwo"
          />
          <br />
        </>
      ) : null
    }
    {
      frontmatter.act3[0] ? (
        <>
          <PdfDescargable
            frontmatter={frontmatter.act3}
            datos={frontmatter}
            ID="PrntBtnThre"
          />
          <br />
        </>
      ) : null
    }
    {
      frontmatter.act4[0] ? (
        <>
          <PdfDescargable
            frontmatter={frontmatter.act4}
            datos={frontmatter}
            ID="PrntBtnFour"
          />
          <br />
        </>
      ) : null
    }
    {
      frontmatter.registro[0] === "Si"
        ? horarios.map((diaObj: any, index: any) => {
            const dia = Object.keys(diaObj)[0];
            const datos = diaObj[dia];

            // IDs únicos
            const tabId = `default-tab-${index}`;
            const contentId = `default-tab-content-${index}`;
            const profileId = `profile-${index}`;
            const dashboardId = `dashboard-${index}`;
            const qrimage = `qrimage-${index}`;

            return (
              <>
                <PdfDescargableRegistradas
                  frontmatter={frontmatter.act4}
                  datos={frontmatter}
                  consdatos={datos}
                  ID={tabId}
                />
                <br />
              </>
            );
          })
        : null
    }
    <!--  -->
  </div>

  <script>
    import "../scripts/gafete.js";
  </script>
</BaseLayoutPonentes>
