---
import BaseLayoutPonentes from "./BaseLayoutPonentes.astro";
import DatosConstancias from "../components/datosConstancias.astro";
import HeaderGeneral from "../components/headerGeneral.astro";
import Actividades from "../components/Actividades.astro";
import Gafete from "../components/gafete.astro";
import Extras from "../components/Extras.astro";
import QRCodeGenerator from "../components/QRCodeGenerator.astro";

const { frontmatter } = Astro.props;
const nombreconjunto =
    frontmatter.grado + " " + frontmatter.nombre.split(" ").at(-2);
---

<BaseLayoutPonentes pageTitle={nombreconjunto} tipo={frontmatter.tags[0]}>
    <HeaderGeneral frontmatter={frontmatter} nombreconjunto={nombreconjunto} />

    <div class="bg-white rounded-t-4xl px-4 py-12">
        <!------------------------------------------------------------------ Actividades ------------------------------------------------------------------>

        <Actividades frontmatter={frontmatter} />

        <!------------------------------------------------------------------ Constancia ------------------------------------------------------------------>

        <DatosConstancias frontmatter={frontmatter} />

        <!------------------------------------------------------------------ Herramientas extras ------------------------------------------------------------------>

        <Extras frontmatter={frontmatter} />

        <!------------------------------------------------------------------ Modal 
        ------------------------------------------------------------------>

        <QRCodeGenerator frontmatter={frontmatter} />

        <Gafete frontmatter={frontmatter} nombreconjunto={nombreconjunto} />
    </div>

    <script>
        import "../scripts/gafete.js";
    </script>
</BaseLayoutPonentes>
